.heading{
    top: 0%;
    left: 50%;
    transform: translate(-50%,-50%);
}
body{
    background-image: url(./img/background.jpg) ;
    background-repeat: no-repeat;
    background-attachment:  fixed;
    background-size:  cover;
}
.insert_data_title{
    width: fit-content;
    background-color: #ffffff;
    border: 2px solid black;
    border-radius: 5px;
    
}
table tbody {
    display: block;
    max-height: 400px;
    overflow-y: scroll;
  }
  
  table thead, table tbody tr  {
    display: table;
    width: 100%;
    table-layout: fixed;
  }
#namevalidate{
 color: red;
 font-style: italic;
}
table{
    width: 80%;
    margin: 40px auto;
    background-color: #7CB9E8;
}
table .list{
text-align: center;
width: 100%;

}
td{
    border: 1px solid #132257;
    text-align: left;
    padding: 8px 15px;
}
tr:nth-child(even) {
background-color:#CCCCFF ;
}

thead > tr{
    background-color:#ffffff ;
}
input[type="text"],input[type="number"]{
    width:90% ;
    padding: 12px 20px;
    margin: 8px 0px;
    display: inline-block;
    border: 1px solid#6F00FF;
    border-radius: 4px;
}
input[type="submit"],input[type="reset"]{
    background-color:#FFC72C;
    padding: 6px 12px;
    margin: 15px 0px 10px;
    display: inline-block;
    border: 1px solid#000000 ;
    border-radius: 30px;
    font-size: 1rem;
    cursor: pointer;
    outline:none ;
}
.submit-button:hover{
    background-color: #000000;
    color: white;
}
.reset-button:hover{
    background-color: #000000;
    color: white;
}

button{
    background-color:#FFC72C;
    padding: 6px 12px;
    margin: 15px 0px 10px;
    display: inline-block;
    border: 1px solid#000000 ;
    border-radius: 30px;
    font-size: 1rem;
    cursor: pointer;
    outline:none;
}
button:hover{
    background-color: #000000;
    color: white;
}